---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Estudiante de la universidad de magallanes en la carrera de ingeniería en informática y computacion, con algo experiencia en 
    desarrollo de software y aplicaciones web, con conocimientos en lenguajes de programación como C, Python, PHP, entre otros. 
    Con habilidades en el manejo de bases de datos SQL. Con capacidad para trabajar en equipo, con facilidad para aprender y 
    adaptarse a nuevas tecnologías y entornos de trabajo.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educacion</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Educacion escolar"
      subtitle="El Liceo Salesiano de Natales"
    />
  </div>

</BaseLayout>
